.c-fluid {
  background-image: url('lp-background.png');
  position: fixed;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
}

.search-form-control {
  position: relative;
  width: 40%;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  border-radius: 2px;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

#home-mid {
  margin-top: 200px;
}

.container-quote {
  margin-bottom: 20px;
  background-position: center;
  background-color: none;
  box-sizing: border-box;
  width: 40%;
  height: 90px;
}

.container-quote h1 {
  font-size: 30px;
  color: white;
  font: bold;
}


.text-shadow {
  text-shadow: 2px 2px 4px rgba(0,0,0,1);
}












