.container-left {
  border: 1px solid black !important;
  border-radius: 5px;
}

.container-pictures {
  border: 1px solid black !important;
  border-radius: 5px;
}

.containter-reviews {
  border: 1px solid black !important;
  border-radius: 5px;
}

.container-right {
  border: 1px solid black !important;
  border-radius: 5px;
}
