<% if current_user.is_mentor %>
  <div class="book" style="margin-left: 170px;">
    <h5 class="form-title">Hello, <%= current_user.name.capitalize %><h1 class="form-name">Create your lesson!</h1></h5>
  </div>
<% end %>


<%= render 'form' %>
