.card-rounded {
  border-radius: 10px;
  border: 0.5px solid black;
  padding: 0px;
}

.card-btn {
  color: grey !important;
}

.card-body {
flex-direction: column;

}

.img-border {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 0.5px solid black;
  margin-left: 24px;
  margin-bottom: 5px;
  margin-top: 5px;

}

.btn-see-lesson {
  position: absolute; left: 50px;
  font-size: 12px;
}

.lesson-price {
  position: absolute; right: 70px;
}

// .lesson-description {
//   margin-bottom: 6px;
// }

.card-lesson-bottom {
  display: flex;
  align-items: center;
}

.card-picture {
  width: 90%;
  height: 30%;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  height: 100px;
  margin-bottom: 10px;
  margin-left: 12px;
}


.card-title {
  justify-content: center;
}

.card-photos {
  display: flex;
  align-items: center;
}

.card-profile-name {
  margin-left: 13px;
}





