.form-control.datepicker {
  height: 10%;
}
.simple-form-container.booking {
  width: 60%;
}
h4.booking {
  font-size: 1.2em;
}
.form-control.booking {
  border-color: white !important;
  border-radius: 5px;
  height: 48px;
  width: 150%;
  background-color: white !important;
  margin-bottom: 60%;
  padding-top: -10px;
  padding-left: -10px;
  margin-left: 0px;

}
.booking-name {

}
.booking-title {
  font-size: 1.3em;
  text-shadow: 0 1px 1px $button-green;
}
