
.container.form-container {
  background-color: white !important;
  }
.form-header {
  border-bottom: 5px solid #E0E0E0;
  border-width: medium;
}
.form-title {
  font-size: 40px;
}
.simple-form-container {
  width: 35%;

}
.form-control {
  border-color: black !important;
  border-radius: 5px;
  height: 48px;
}
.form-btn {
  background-color: green;
  border-radius: 5px;
  width: 100%;
  color: white;
}
.btn-shared {
  padding: 10px;
}
.shared-btn-div {
  background-color: green;
  border-radius: 5px;
  width: 100%;
  color: white;
  margin: 5%;
}
